.camera-details
{
    background-color:#dbc1ac;
    width:280px;
    height:150px;
    margin-right:20px;
    padding-left:20px;
    padding-top:5px;
    padding-bottom: 5px;
    border-radius:10px;
    border:solid;
    border-width:2px;
    margin-top:20px;
    

}

body
{
     background-color:#ece0d1;
}

h1{
   
    font-size:50px;
}

.alert
{
    text-align:center;
    color:#960000;
    font-size:70px;;
}

.container
{
    display:grid;
    height:80vh;
    width:80wh;
    background-color: #960000;
}